/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	cursor: pointer;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
	width: 330px;
	height: 460px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front,
.back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background: rgb(141, 17, 38);
	display: flex;
	padding: 10px;
	align-items: center;
	flex-direction: column;
	border: 10px solid rgb(202, 202, 0);
	border-radius: 8px;
	font-family: "Lato", sans-serif;
	.name-hp {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		h1:nth-child(1) {
			font-weight: 700;
		}

		h1:nth-child(2) {
			color: red;
			font-weight: 900;
		}
	}

	.icon {
		height: 30px;
		width: 30px;
		> img {
			width: 100%;
		}
	}

	> h1 {
		font-weight: 700;
		display: flex;
	}

	> .image-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: 200px;
		background: rgb(165, 198, 101);
		border: 5px solid #dabe40;
		position: relative;
		video {
			position: absolute;
			height: 100%;
			width: auto;
			top: 0;
			left: 0;
		}

		img {
			width: 100px;
			position: relative;
			z-index: 3;
		}
	}

	.attack-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		> div > div {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			flex: 1;
		}

		.attack-cost {
			width: 100%;

			> div {
				display: flex;
				justify-content: space-around;
				align-items: center;
				border-bottom: solid 1px black;
				font-size: 11px;
				padding: 2px 0;
			}

			.cost-img {
				max-width: 95px;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
			}

			.atk-desc {
				display: flex;
				min-width: 140px;
			}

			span {
				font-weight: 800;
				align-self: flex-start;
				font-size: 12px;
				margin: 0 2px;
			}

			img {
				width: 30px;
			}
		}
	}

	.weakness-retreat-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
		position: absolute;
		bottom: 20px;
		> div {
			display: flex;
			width: 100%;
			justify-content: space-around;
			align-items: center;
			> div:nth-child(2) {
				display: flex;
				flex-wrap: wrap;
				> img {
					height: 30px;
					width: 30px;
				}
			}
		}
	}
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background: url("./media/cardback.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
